@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import "mixins";

.btn-container {
  @include flex(row, center, center);
}
.btn-styles {
  border: none;
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 11pt;
  line-height: 18pt;
  color: #fff9ea;
  transition: box-shadow 0.3s;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    background-color: transparent;
    transform: scale(1.1);
    color: #fff9ea;
  }
}

.btn-bg-yellow {
  background-color: #fdca39;
}

.btn-bg-blue {
  background-color: #5eadab;
}

.initial-form-button {
  background: black;
  &:hover {
    color: black;
  }
}
