@import "mixins";

.navbar {
  width: 100vw;
  height: 5vh;
  border: 1px solid black;
}

.dashboard-nav-bar {
  @include flex(row, space-evenly, center);
  height: 5vh;
  padding: 0px 10px;
}

.home-nav-bar {
  @extend .dashboard-nav-bar;
  @include flex(row, center, center);
}
